.home-container {
    display: flex;
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
}
.overview-container::-webkit-scrollbar {
    width: 6px;
}

