/* Container Styling */
.overview-container {
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  background-color: #3aafa9;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #feffff;
  background-color: #111827;
  height: 40px;
  width: 40px; /* Make width and height equal for a round shape */
  text-align: center;
  border-radius: 50%; /* Ensures the background is perfectly round */
  display: flex;
  align-items: center; /* Vertically center the icon */
  justify-content: center; /* Horizontally center the icon */
}

.title {
  font-weight: bold;
}

.rupee-icon {
  font-size: 25px;
}
/* Card Styling */
.overview-card {
  background-color: #def2f1;
  margin: 10px;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 0px;
  width: 100%;
  max-width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Card Title and Icon Styling */
.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #4b5563;
  position: relative;
}

.card-title span {
  margin-left: 10px;
}

.card-title i {
  font-size: 28px;
  color: #6ee7b7;
  position: absolute;
  top: 0;
  right: 0; /* Align icon to the top-right */
}

/* Pricing and Numbers Styling */
h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
  color: #111827;
}

/* Percentage Increase Text Styling */
p {
  font-size: 14px;
  color: #6b7280;
  display: flex;
  align-items: center;
}

.increase {
  color: #10b981;
  font-weight: bold;
  margin-right: 5px;
}

.overview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.overview-header h1 {
  font-size: 24px;
  font-weight: bold;
}

.filter-container {
  display: flex;
  align-items: center;
}

.overview-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #3aafa9;
  flex-wrap: wrap; 
  overflow-y: auto; 
  height: auto; 
  flex-direction: column;
}
.graphs-container,
.progressbars-container {
  width: 100%;
}
.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #feffff;
  background-color: #111827;
  height: 40px;
  width: 40px; /* Make width and height equal for a round shape */
  text-align: center;
  border-radius: 50%; /* Ensures the background is perfectly round */
  display: flex;
  align-items: center; /* Vertically center the icon */
  justify-content: center; /* Horizontally center the icon */
}

.title {
  font-weight: bold;
}

.rupee-icon {
  font-size: 25px;
}

@media only screen and (max-width: 900px) {
  .overview-header {
    flex-direction: column;
  }
  .filter-container {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .filter-form {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .overview-container {
    flex-direction: column;
    align-items: center;
  }
  .overview-card {
    width: 100%;
  }
}
body,
html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
