.main {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  background-color: #3aafa9;
  height: 100%;
}
.container {
  width: 100%;
  height: auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #2b7a78;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 5px 10px 10px rgba(57, 57, 57, 0.684);
}
.paymentCategory {
  margin: 10px 0;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.paymentCategoryTitle {
  margin-left: 10px;
  font-size: 1.2rem;
}

.paymentList {
  padding-left: 20px;
  margin-top: 10px;
}

.paymentItem {
  font-size: 1rem;
  margin-bottom: 5px;
}
.containerName {
  width: 77%;
  height: 77%;
}
.container h3{
  margin: 1rem 0;
  font-size: 1.6rem;
}